# Database Settings
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_DB=deals_db

# Keycloak Settings
KEYCLOAK_ADMIN_USER=example_admin
KEYCLOAK_ADMIN_PASSWORD=example_admin_password

# Kafka Settings
KAFKA_CLUSTER_ID=example_cluster_id